#outter
{
height:2500px;
width:1000px;
margin: 130px auto;
}
body
{
background-image:url(grass.jpg);
background-repeat:no-repeat;
background-size:cover;
}
#menu
{
height:55px;
width:1000px;
background-color:white;
border-bottom:1px solid white;
border-radius:30px 30px 0 0;
}
.bar
{
height:54px;
width:120px;
border-right:1px solid;
float:left;
}
.bar p
{
margin:20px 0 0 20px;
}
#img
{
height:330px;
width:1000px;
margin-top:10px;
border-bottom:1px solid rgba(0 0 4 0.4 ); 
}
#main
{
height:1200px;
width:700px;
float:left;
margin-top:10px;
background-color:white;
border-radius:0 0 0 30px;
}
#rside
{
height:1200px;
width:300px;
float:left;
margin-top:10px;
background-color:#DFEBEB;
border-top:1px solid rgba(0 0 4 0); 
border-radius:0 0 30px 0;
}
#main1
{
height:110px;
width:700px;
background-color:white;
}
#main2
{
height:380px;
width:700px;
border-bottom:1px solid #D4D9D9;
}
#main3
{
height:600px;
width:700px;
border-bottom:1px solid #D4D9D9;
}
#main4
{
height:100px;
width:700px;
}
.square
{
height:20px;
width:20px;
border:1px solid;
margin-right:10px;
float:right;
}
#footer
{
height:250px;
width:1000px;
background-color:white;
border-radius:30px 30px 30px 30px;
}

.foot
{
height:250px;
width:330px;
float:left;
}
.img
{
height:70px;
width:70px;
border:1px solid;
float:left;
margin-left:40px;
}
